{
  "presets": [
    ["env",
      { "modules": false ,
        "targets": {
        "browsers": "> 5%"
        }
      }
    ],"es2015","stage-3"
  ],
  "plugins": ["transform-runtime","transform-vue-jsx","syntax-dynamic-import",["transform-builtin-extend", {
    "globals": ["Array", "Error","Date"]
  }]]
}
